In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [6]:
## load dataset

data = pd.read_csv("/home/user/T0665/ml-course/ann/Churn_Modelling.csv")
# first 3 columns are not needed
data = data.drop(columns=["RowNumber", "CustomerId", "Surname"], axis=1)

In [ ]:
# encode categorical data

le = LabelEncoder()
data["Gender"] = le.fit_transform(data["Gender"])

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [ ]:
## one hot encoding geography column
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
geo=ohe.fit_transform(data[["Geography"]])

In [10]:
ohe.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
geo_df = pd.DataFrame(geo.toarray(), columns=ohe.get_feature_names_out(['Geography']))

In [14]:
#combine one hot encoded cols with original data

data = pd.concat([data.drop("Geography", axis=1), geo_df], axis=1)

In [15]:
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [16]:
## save encoders and one hot encoders 

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(le, file)

with open('one_hot_encoder_geography.pkl', 'wb') as file:
    pickle.dump(ohe, file)

In [17]:
## divide dataset into independent and dependent variables

X = data.drop("Exited", axis=1)
y = data["Exited"]

In [19]:
## split dataset into train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
## scaling the features

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [21]:
## save scaler

with open('scaler.pkl', 'wb') as file:
    pickle.dump(sc, file)

ANN Implementation

In [23]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [ ]:
X_train.shape

(8000, 12)

In [26]:
## build ann model

model = Sequential(
    [
        Dense(64, activation="relu", input_shape=(X_train.shape[1],)), ## hl1 connected to input layer
        Dense(32, activation="relu"), ## hl2 connected to hl1
        Dense(1, activation="sigmoid"), ## op layer 
    ]
)

/home/user/T0665/ml-course/ann/.venv/lib/python3.12/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
2025-09-16 10:12:57.464715: E external/local_xla/xla/stream_executor/cuda/cuda_platform.cc:51] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

In [27]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)

In [ ]:
# compile the model

model.compile(optimizer="", loss="binary_crossentropy", metrics=["accuracy"])